# Arquivo: devops/docker-compose.yml (MODIFICADO)
version: "3.8"

services:
  db:
    image: postgres:14-alpine
    container_name: devops_db
    ports:
      - "5432:5432"
    environment:
      # O Docker Compose vai ler estas vari치veis do arquivo .env
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    container_name: devops_app
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      # A. Vari치veis do Banco (lidas do .env)
      - DB_HOST=db
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}
      
      # B. Vari치veis FALSAS do App (lidas do .env)
      - BUCKET_NAME=local-bucket-teste
      - SES_SENDER_EMAIL=sender@local.com
      - SES_RECIPIENT_EMAIL=recipient@local.com
      
      # C. Vari치veis FALSAS da AWS (lidas do .env)
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}

volumes:
  postgres_data: