name: main - DevOps Teste

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clona o repositório
      - name: Using Python3
        uses: actions/checkout@v4

      # 2️⃣ Configura o Python
      - name: Configura Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          name: run install, build and test
          run: 
            nmp install
            npm run build
            npm run test

      # 3️⃣ Instala dependências
      - name: Instala dependências
        run: |
          pip install -r requirements.txt

      # 4️⃣ Teste rápido: verifica se o app roda sem erro
      - name: Testa inicialização da aplicação
        run: |
          python -m py_compile main.py

      # 5️⃣ Build da imagem Docker
      - name: Build da imagem Docker
        run: |
          docker build -t devops_teste:latest .
